*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

:root{
    --color-white:white;
    --main-co:#1e202b;
    --sec-co:#009ad8;
    --ther-co:#323544;
    --for-co:#262936;
}

.fw-lighter{
    font-size:0.7rem;
}

.bg-main{
    background-color:var(--main-co);
}

.bg-sec{
    background-color:var(--sec-co);
}

.bg-ther{
    background-color: var(--ther-co);
}
.bg-for{
    background-color: var(--for-co);
}

.te-main{
    color:var(--sec-co);
}

.te-white{
    color: var(--color-white);
}

/* start navbar */
@media (max-width: 992px) {
    .navbar-nav .nav-item:not(:last-child){
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);
    }
    .navbar-nav .nav-item{
        padding: 10px;
    }
    .navbar-nav{
        background-color: var(--ther-co);
        border-radius: 1rem;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover{
        border-color:transparent!important;
    }
}

.navbar-brand:focus, .navbar-brand:hover, .navbar-brand{
    color: var(--color-white);
}

.navbar-nav .nav-link{
    padding: 100px;
    color: var(--color-white);
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.4s;
    width: fit-content;
    margin: auto;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover{
    color: var(--sec-co);
    border-color: var(--sec-co);
}

.navbar-toggler{
    background-color: var(--color-white);
    transition: 0.4s;
}
.navbar-toggler:hover, .navbar-toggler:focus{
    background-color: var(--sec-co);
    box-shadow: none;
}
/* end navbar */
/* start main */
main .container-fluid{
    background-image: url(../images/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.input-group #sub{
    top: 0.4rem;
    right: 0.4rem;
    bottom: 0.4rem;
    z-index: 10000;
}

.input-group #sherch{
    font-size: 0.6rem;
}

.input-group #sherch:focus{
    background-color: var(--main-co);
    color: var(--color-white);
    box-shadow: none;
}
.input-group #sherch::placeholder{
    color: var(--color-white);
    opacity: 0.8;
}

main .item #cont{
    font-size: 5rem;
}
/* end main */
/* start footer */
footer a{
    width: 2.5rem;
    height: 2.5rem;
}
footer .input-group #sherch{
    font-size: 0.7rem;
}
/* end footer */